/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;

    background-image:url('/assets/patterns/i.jpg');
}

.nano { background: #bba; width: 500px; height: 200px; }
.nano .content{ padding: 10px; }
.nano .pane { background: #888; }
.nano .slider { background: #111; }


.chat-item { padding: 0px; }